padding--base = 6px

@require '../index'

foo
  padding-top xl
  padding-top lg
  padding-top md
  padding-top sm
  padding-top xs


html
  padding base
  padding 20px sm 20px
  padding lg 20px sm 20px

  padding-top base
  padding-bottom md
  padding-left lg
  padding-right xl
