/**
 * Module dependencies
 */

@require './variables'
@require 'shoelace-ui-clockwise'


/**
 * Apply transparent mixin to
 *   - `padding`
 *   - `padding-top`
 *   - `padding-right`
 *   - `padding-bottom`
 *   - `padding-left`
 *
 * @mixin
 * @transparent
 */

if (padding--apply-mixin == true)
  padding()
    clockwise--mixin('padding', arguments)

  // `padding` clockhand positions
  padding-top()
    clockwise--mixin('padding', arguments)
  padding-right()
    clockwise--mixin('padding', arguments)
  padding-bottom()
    clockwise--mixin('padding', arguments)
  padding-left()
    clockwise--mixin('padding', arguments)
