/**
 * Padding amount variations.
 */

padding--extra-large            ?= 15px
padding--extra-large-vertical   ?= 15px
padding--extra-large-horizontal ?= 28px
padding--xl                      = padding--extra-large
padding--xl-vertical             = padding--extra-large-vertical
padding--xl-horizontal           = padding--extra-large-horizontal
padding--xl-y                    = padding--extra-large-vertical
padding--xl-x                    = padding--extra-large-horizontal

padding--large            ?= 10px
padding--large-vertical   ?= 10px
padding--large-horizontal ?= 16px
padding--lg                = padding--large
padding--lg-vertical       = padding--large-vertical
padding--lg-horizontal     = padding--large-horizontal
padding--lg-y              = padding--large-vertical
padding--lg-x              = padding--large-horizontal

padding--base             ?= 6px
padding--base-vertical    ?= 6px
padding--base-horizontal  ?= 12px
padding--md                = padding--base
padding--md-vertical       = padding--base-vertical
padding--md-horizontal     = padding--base-horizontal
padding--md-y              = padding--base-vertical
padding--md-x              = padding--base-horizontal

padding--small            ?= 5px
padding--small-vertical   ?= 5px
padding--small-horizontal ?= 10px
padding--sm                = padding--small
padding--sm-vertical       = padding--small-vertical
padding--sm-horizontal     = padding--small-horizontal
padding--sm-y              = padding--small-vertical
padding--sm-x              = padding--small-horizontal

padding--extra-small            ?= 4px
padding--extra-small-vertical   ?= 4px
padding--extra-small-horizontal ?= 9px
padding--xs                      = padding--extra-small
padding--xs-vertical             = padding--extra-small-vertical
padding--xs-horizontal           = padding--extra-small-horizontal
padding--xs-y                    = padding--extra-small-vertical
padding--xs-x                    = padding--extra-small-horizontal
