/**
 * Padding amount variations.
 */

padding--extra-large ?= 15px
padding--xl           = padding--extra-large

padding--large       ?= 10px
padding--lg           = padding--large

padding--base        ?= 6px
padding--md           = padding--base

padding--small       ?= 5px
padding--sm           = padding--small

padding--extra-small ?= 4px
padding--xs           = padding--extra-small
