padding--apply-mixin ?= false

/**
 * Padding amount variations.
 */

padding--base        ?= 6px
padding--md           = padding--base

padding--large       ?= round(padding--base * 1.6) // 10px
padding--lg           = padding--large

padding--extra-large ?= round(padding--base * 2.5) // 15px
padding--xl           = padding--extra-large

padding--small       ?= round(padding--base * 0.8) // 5px
padding--sm           = padding--small

padding--extra-small ?= round(padding--base * 0.6) // 4px
padding--xs           = padding--extra-small
